.new-task-container{
    background: var(--color-white);
    width: 35%;
    display: none;
    flex-direction: column;
    align-items: justify;
    margin: 5% 32.5%;
    height: auto;
    border-radius: 10px;
    padding: .5rem;
    position: absolute;
    z-index: 5;
    top: 0;
    color: black;
}

.new-task-container h2{
    padding: 1rem;
}

.pad-all{
    padding: 0 1rem;
}

.new-task-container small{
    color: var(--color-night);
    font-size: 16px;
    font-weight: 700;
}

.task-title{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    flex-wrap: wrap;
}

.task-title > input{
    width: 100%;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid var(--color-edit-varient);
    background: transparent;
}
.task-title > input:hover{
    border: 1px solid var(--color-secondary);
}

.dark{
    color: white;
}

.task-description{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.task-description > textarea{
    /* width: 100%; */
    padding: .7rem;
    border-radius: 5px;
    flex-wrap: wrap;
    resize: none;
    border: 1px solid var(--color-edit-varient);
    background: transparent;
}
.task-description > textarea:hover{
    border: 1px solid var(--color-secondary);
}

.task-subtask{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.task-subtask_input{
    display: flex;
    align-items: center;
    gap: 2%;
    width: 100%;
}

.task-subtask_input input{
    width: 93%;
    border: 1px solid var(--color-edit-varient);
    border-radius: 5px;
    padding: .7rem;
    flex-wrap: wrap;
    background: transparent;
}
.task-subtask_input input:hover{
    border: 1px solid var(--color-secondary);
}

.close-task{
    width: 5%;
    font-size: 25px;
}
.close-task:hover{
    color: red;
}

.new-subtask{
    margin-top: 1rem;
}

.new-subtask > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .9rem;
    border-radius: 25px;
    cursor: pointer;
    background: var(--color-pry);
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 16px;
}
.new-subtask > button:hover{
    background: var(--color-secondary-varient);
}

.task-status{
    margin: 1.2rem 0;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.drop-down_container{
    position: relative;
}

.list__items{
    font-size: .8rem;
    padding: 1em;
    border: 2px solid var(--color-edit-varient);
    color: grey;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

.list__items::-ms-expand{
    display: none;
}

.list__items:focus{
    outline: none;
    box-shadow: 0 0 10px -1px var(--color-secondary-varient);
}

.list__items:hover{
    border: 2px solid var(--color-secondary);
}

.new-drop-down{
    position: absolute;
    font-size: 16px;
    top: 27%;
    right: 3%;
    color: var(--color-secondary);
    pointer-events: none;
}

.create-task > button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: .9rem;
    cursor: pointer;
    margin-bottom: 1rem;
    background: var(--color-secondary);
    border-radius: 25px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 16px;
}

.create-task > button:hover{
    background: var(--color-secondary-varient);
}

/* ========TO REVEAL ADDNEWTASK INTERFACE ON THE SCREEN========= */
.add-new-task{
    display: flex;
}

/* =========Adding modal responsiveness======== */
@media screen and (max-width: 64rem){
    .new-task-container{
        width: 50%;
        margin: 5% 25%;
    }
}

@media screen and (max-width: 37.5rem){
    .new-task-container{
        width: 80%;
        margin: 5% 10%;
    }
}