.header-right{
    display: block;
    /* grid-template-columns: 1fr; */
    background: transparent;  
    width: 84.4%;
    font-size: .99rem;
    margin-left: 15.6%;
    margin-top: -5.7rem;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-white);
    padding: 1.5rem 1rem;
    height: 100%;
    width: 100%;
}

.clickables{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.clickables > button{
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: 600;
    padding: .8rem;
    border-radius: 22px;
    font-size: 1rem;
}

.clickables>button:hover{
    background: var(--color-secondary-varient)
}


/* =========Increasing the right section width and decreasing it=================  */
.increase-width2{
  margin-left: 23.5%;
  width: 76.5%;
}

