.side{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 3rem;
    top: 85%;
    left: 0;
    font-size: 21px;
    color: var(--color-white);
    background: var(--color-secondary);
    border-radius: 0 20px 20px 0;
}

.side:hover{
    background: var(--color-secondary-varient);
}

.side-drop-arrow{
    display: none;
    position: fixed;
    top: 6.5%;
    color: var(--color-secondary);
    width: 18px;
    height: 18px;
    left: 15rem;
    z-index: 2;
    cursor: pointer;
}

@media screen and (max-width: 37.5rem){
    .side{
        display: none;
    }

    .side-drop-arrow{
        display: block;
    }
}