.main-nav{
    position: fixed;
    background: var(--color-white);
    top: 5.5rem;
    bottom: 0;
    width: 18rem;
    left: 0;
    color: var(--color-edit);
    border-right: 1px solid var(--color-pry-varient);
    visibility: hidden;
    z-index: 2;
    font-weight: 700;
}

.main-nav > h5{
    padding: 1.5rem;
}

.createBtn{
    display: flex;
    gap: .5rem;
    width: 90%;
    margin-top: .4rem;
    background: transparent;
    color: var(--color-secondary);
    padding: 1rem;
    border-radius: 0 20px 20px 0;
    align-items: center;
    cursor: pointer;
}

.createBtn:hover{
    background: var(--color-pry-varient);
}

.only{
    font-size: 23px;
    border-radius: 8.5px;
}
.create-new{
    font-size: 17px;
    background: transparent;
    color: var(--color-secondary);
    font-weight: 600;
    cursor: pointer;
}

.hide-side{
    position: absolute;
    top: 28rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 16rem;
    padding: 1rem;
    border-radius: 0 20px 20px 0;
    background: transparent;
    cursor: pointer;
    font-size: 17px;
}

.hide-side:hover{
    color: var(--color-secondary);
    background: var(--color-pry-varient);
}

.close-nav{
    visibility: visible;
}

/* ===============STYLING NEW BOARD CREATED===================== */
.board-list{
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: .3rem;
}

.board-list > li{
    display: flex;
    gap: .5rem;
    width: 90%;
    padding: .8rem;
    border-radius: 0 20px 20px 0;
    align-items: center;
    cursor: pointer;
}
.clicks-tru:hover{
    background: var(--color-pry-varient);
    color: var(--color-secondary);
}


.list-item{
    font-size: 23px;
    border-radius: 8.5px;
}

.list-btn{
    font-size: 16px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
}


/* ==================STYLING THE TOGGLE SWITCH============== */
.slide-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: var(--color-pry-varient);
    width: 15rem;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: 10px;
    margin-top: 17.7%;
    z-index: -1;
    position: absolute;
    top: 22.25rem;
}

@media screen and (max-width: 37.5rem){
    .main-nav{
        visibility: hidden;
        position: fixed;
        background: var(--color-white);
        width: 50%;
        margin: 0 25%;
        color: var(--color-edit);
        border: 1px solid var(--color-night);
        z-index: 5;
        border-radius: 8px;
        height: 55vh;
    }

    .createBtn{
        gap: 1%;
    }
    

    .hide-side{
        display: none;
    }

    .slide-container{
        width: 80%;
        margin-left: 10%;
        margin-top: 15rem;
        top: 0;
    }

    .show-resized-nav{
        visibility: visible;
    }
}

/* ======on click for active buttons====== */
.active-clicks{
    background: var(--color-secondary);
    color: var(--color-white);
}

.active-clicks:hover{
    background: var(--color-pry);
    color: var(--color-white);
}