.edit-board_form{
    background: var(--color-white);
    width: 40%;
    display: none;
    flex-direction: column;
    align-items: justify;
    margin: 8% 30%;
    height: auto;
    border-radius: 10px;
    padding: 1.2rem;
    position: absolute;
    z-index: 6;
    top: 0;
}

.edit-board_form h2{
    margin-top: 1rem;
    font-size: 17px;
}

.edit-board-name{
    margin: 1.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.edit-board-name label{
    font-weight: 600;
    color: var(--color-edit);
    font-size: 13px;
}

.edit-board-name input{
    border: 1px solid var(--color-edit-varient);
    border-radius: 6px;
    padding: .7rem;
    background: transparent;
}
.edit-board-name input:hover{
    border: 1px solid var(--color-secondary);
}

.edit-board-columns{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.edit-board-columns label{
    font-weight: 600;
    color: var(--color-edit);
    font-size: 13px;
}

.column-now{
    display: flex;
    gap: 3%;
    width: 100%;
    align-items: center;
    margin-bottom: .3rem;
}

.column-now input{
    width: 92%;
    border-radius: 6px;
    padding: .7rem;
    border: 1px solid var(--color-edit-varient);
    background: transparent;
}
.column-now input:hover{
    border: 1px solid var(--color-secondary);
}

.close-edit-task{
    font-size: 1.3rem;
    color: var(--color-edit);
}
.close-edit-task:hover{
    color: var(--color-red);
}

.edit-add-column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    border-radius: 20px;
    background: var(--color-pry-varient);
    padding: .7rem;
    color: var(--color-secondary);
    font-size: 16px;
}
.edit-add-column:hover{
    background: var(--color-secondary-varient);
    color: var(--color-white);
}

.edit-save{
    background: var(--color-secondary);
    color: var(--color-white);
    padding: .7rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    font-size: 16px;
}
.edit-save:hover{
    background: var(--color-secondary-varient);
}


/* =========style used in revealing the edit board form=============== */
.open-edit-board{
    display: flex;
}

/* =========Adding modal responsiveness======== */
@media screen and (max-width: 64rem){
    .edit-board_form{
        width: 50%;
        margin: 10% 25%;
    }
}

@media screen and (max-width: 37.5rem){
    .edit-board_form{
        width: 80%;
        margin: 20% 10%;
    }
}

/* ====styling modal box for dark mode======== */
.light-bright-night .edit-board-name label{
    color: var(--color-white);
}

.light-bright-night .edit-board-name input{
    color: var(--color-white);
}

.light-bright-night .edit-board-columns label{
    color: var(--color-white);
}

.light-bright-night .column-now input{
    color: var(--color-white);
}

.light-bright-night .edit-add-column{
    background: var(--color-white);
    color: var(--color-secondary);
}

.light-bright-night .edit-add-column:hover{
    background: var(--color-white);
    color: var(--color-secondary);
}