.modeToggle{
    height: 25px;
    width: 45px;
    border-radius: 50px;
    background: var(--color-secondary);
    position: relative;
    cursor: pointer;
}

.notch{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--color-white);
    position: absolute;
    box-shadow: 0 0 5px var(--color-edit-varient);
    top: 5px;
    left: 5px;
}

.night> .notch{
    transform: translate(20px, 0);
}
