@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  list-style: none;
  border: 0;
}

:root{
  --tw-bg-opacity: 1;
  --color-pry: rgb(244 247 253 / var(--tw-bg-opacity));
  --color-pry-varient: #E9EFFA;
  --color-secondary: #635fc7;
  --color-secondary-varient: #aba9fd;
  --color-white: rgb(255, 255, 255);
  --color-green: rgb(6, 201, 159);
  --color-blue: rgb(10, 180, 247);
  --color-red: rgb(214, 9, 9);
  --color-red-varient: rgb(253, 127, 127);
  --color-edit: rgb(131, 125, 125);
  --color-edit-varient: rgb(216, 212, 212);
  --modal-bg: rgba(0, 0, 0, .7);
  --color-night: #828fa3;
  
  --transition: all ease 400ms;
}


body {
    background: var(--color-pry);
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: .94rem;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: var(--transition);
  }
  
a{
  color: var(--color-accent1);
}

a:hover{
  color: var(--color-txt);
}


/* ===Adding Dark/light theme toggle==== */
.light-bright-night{
  background: #2b2c37;
  color: var(--color-white);
}

.light-bright-night2{
  background: #2b2c37;
  color: var(--color-white);
  border-right: 1px solid var(--color-night);
}

.light-bright-night4{
  background: #20212c;
  color: var(--color-edit);
}

.light-bright-night6{
  background: #2b2c37;
  color: var(--color-night);
  border-right: 1px solid var(--color-night);
}

.dark-bright-night{
  background: #20212c;
  color: var(--color-night);
}