.scrollers{
    display: block;
    width: 100%;
    margin-left: 0%;
    overflow-x: hidden;
    padding: 0 .5em 0 4em;
}

.todos-container{
    display: flex;
    column-gap: 1.5rem;
    width: 75rem;
    justify-content: space-between;

}

.each-todo{
    width: 24%;
}

.each-todo-heading{
    display: flex;
    align-items: center;
    height: 4rem;
}

.each-todo-heading>h3{
    margin-right: .2rem;
}

.each-todo-content{
    display: grid;
    row-gap: 1rem;
}

.each-todo-content > article{
    background: var(--color-white);
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
}

.each-todo-content > article:hover{
    color: var(--color-secondary);
}

.each-todo-content > article > span{
    color: var(--color-edit);
    font-weight: 700;
    font-size: 14px;
}

.each-todo2{
    background: var(--color-pry-varient);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: .5rem;
    /* height: auto; */
    margin-top: 4rem;
    color: var(--color-edit);
    cursor: pointer;
    width: 28%;
}

.each-todo2:hover{
    color: var(--color-secondary);
}

.light-blue{
    color: var(--color-blue);
    margin-right: .5rem;
}
.light-purple{
    color: var(--color-secondary);
    margin-right: .5rem;
}
.light-green{
    color: var(--color-green);
    margin-right: .5rem;
}

/* STYLING CLASSLIST USED IN MINIMIZING AND MAXIMIZING THE BODY SECTION */
.scroller-open{
    margin-left: 18rem;
}

